/*Split up css into separate docs*/

html, body {
    height: 100%;
}

body {
    background: linear-gradient(rgba(255, 255, 255, 0.8),rgba(255, 255, 255, 0.5)), url("../html/img/background2.jpg");
    background-attachment: fixed;
    color: rgb(61, 58, 58) !important;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

nav {
    background-color: rgb(168, 129, 231);
    padding: 20px;
    margin: 0px 0px 60px 0px; 
}

nav .container {
    display: flex;
}

nav .container .logo {
    flex: 1;
}

nav .logo img {
    height: 30px;
    margin-top: 10px;
}

nav .links {
    display: flex;
}

nav .links a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

nav .links a:hover {
    text-decoration: underline;
}

nav search {
    flex: 1;
    padding: 10px;
}

nav search input {
    text-align: center;
    border-radius: 10px;
    border: none;
}

nav search input:focus {
    outline: none;
}

main {
    flex-grow: 1;
    width:80%;
    margin: auto;
}

@media only screen and (max-width: 1150px) {
    #allPosts {
        margin-left: 60px;
        margin-right: 60px;
    }
}

@media only screen and (max-width: 990px) {
    .random-post-box {
        justify-content: center;
    }
}

/* @media only screen and (max-width: 530px) {
    header {display: block; text-align: center;}
    nav {margin:0;}
    .links a {display: block;}
    .logo {padding: 40px 0px; margin: 0;}
    .nav-buttons {margin: 0px; display: block;}
    .header-container{position: relative;}
    #second-Div-Container{padding: 50px 0;}
} */

button {
    border:none;
    background-color: rgb(84, 109, 245);
    border-radius: 50px !important;
    color: white;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;  
    margin: 4px 15px !important;
    cursor: pointer;
}

button:hover {
    background-color: blue;
    box-shadow: black;
}

/* refactor below so commonalities aren't repeated */
.resizing-profile-picture{
    display: block;
    width: 150px;
    border-width: 3px;
    border-style: solid;
    border-radius: 50%;
    padding: 3px;
    margin: 0 auto;
    border-color: rgb(51, 45, 45);
}

.resizing-warwick-picture {
    display: block;
    margin: 0 auto;
    width: 150px;
    border-width: 3px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    padding: 3px;
}

.resizing-work-pictures {
    display: block;
    margin: 0 auto;
    width: 150px;
    border-width: 3px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    padding: 3px;
}

.resizing-window-pictures{
    display: block;
    width: 150px;
    height: 150px;
    border-width: 3px;
    border-style: solid;
    border-radius: 50% !important;
    padding: 3px;
    margin: 0 auto;
    border-color: rgb(51, 45, 45)
}

.resizing-shark-pictures{
    display: block;
    width: 220px;
    height: 175px;
    border-width: 3px;
    border-style: solid;
    border-radius: 50% !important;
    padding: 3px;
    margin: 0 auto;
    border-color: rgb(51, 45, 45)
}

/********** Index **********/

#index-image {
    width: 175px;
    padding:0;
}

#second-Div-Container {
        margin-left: auto;
        margin-right: auto;
        width: 500px;
}

#image-And-h1 {
    display: flex;
    margin-bottom: 20px;
}

#welcome-title {
    padding: 40px 0px;
    margin-bottom: 0px;
}

#welcome-text{
    margin-bottom: 50px;
    margin-right: 0;
}

@media only screen and (max-width: 500px) {
    #second-Div-Container {
        margin-left: auto;
        margin-right: auto;
        width: 250px;
    }
}

@media only screen and (max-width: 350px){
    #index-image{
        display:none;
    }
}

/********** About me **********/

#title_div {
    display: inline-flex;
    justify-content: center;
}

.section-divider h1 {
    background: #bddfe0;
    padding: 5px 0;
    text-align: center;
    width: 100%;
    padding-bottom: 5px !important;
    margin-bottom: 50px;
}

hr {
    width: 25%;
    padding: 20px;
    margin: 0 auto !important;
}

.rows { 
    display: flex;
}

.am-container {
    padding: 0 20px 20px 20px;
    margin-bottom: 40px;
}

.am-container h1, p {
    margin-right: 10%;
}

section div p {
    text-align: left;
}

.journey-titles {
    padding-bottom: 20px !important;
}

.smallerBtns {
    padding: 4px 22px;
}

@media only screen and (max-width: 460px) {
    .imgContainer, .resizing-warwick-picture, .resizing-work-pictures, .resizing-shark-pictures, .resizing-window-pictures, #gamepic {
    display:none;
}}

/********** Projects **********/

.button{
    width: 130px;
}

#tech-stack-display{
    text-align: center;
}

.section-text{
    max-width: 800px;
    text-align: center;
    margin: 0 auto 25px auto;
    padding: 0 30px;
    color:azure;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 0.95rem;
}

.section-text::selection{
    color:burlywood;
}

#tech-stack article{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 0 25px 0;
}

#tech-stack img{
    width: 60px;
    margin: 15px 30px;
}

#projects {
    background:rgb(168, 129, 231);
    padding-bottom: 30px;
}

#all-project-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.project-container{
    display: flex;
    justify-content: center;
    margin: 20px;
    width: 350px;
    height: 400px;
}

.prj-body{
    width: 325px;
    background-color: rosybrown;
    height: 400px;
    margin: 0 auto;
    position: absolute;
    filter: drop-shadow(0 0 5px rgb(255, 255, 255))
}

.prj-body a {
    width: 50%;
    font-size: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: saddlebrown;
    color: skyblue;
    position: absolute;
    bottom: 0;
    left: 50%;
    border-style: none;
    text-align: center;
    text-decoration: none;
}

.prj-body a:hover{
    cursor: pointer;
    background-color: steelblue;
}

.project-txt-container{
    padding: 0 25px;
}

.project-txt-container{
    padding: 0 25px;
}

.project-txt-container img {
    display: block;
    width: 60%;
    margin: 35px auto;
}

.project-txt-container p{
    font-size: 20px;
}

.prj-divider{
    width: 100%;
    height: 5px;
    background-color: turquoise;
}

a.github {
    position: absolute;
    left: 0;
}
a.github-wide {
    position: absolute;
    left: 0;
    width: 100%;
}

#edit-logo-brainiac {
    width: 40%;
}

#edit-logo-blog {
    width: 40%;
}

@media only screen and (max-width: 600px){
    header{
        width: 100%;
        height: 40vh;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 3fr 2fr;
    }

    .section-text{
        max-width: 100%;
        text-align: center;
        margin: 0 auto;
        padding: 30px auto;
        color: black;
        font-size: 0.9rem;
    }

    .prj-body img{
        width: 35px;
        margin: 15px 10px;
    }

    #all-project-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    #all-project-container article{
        margin: 30px 0;
    }

    .project-container{
        width: 100%;
        height: 250px;
    }

    .prj-body {
        width: 90%;
        height: 250px;
    }

    .project-txt-container{
        top: 0;
        height: 250px;
    }

    .project-txt-container img{
        display: block;
        width: 30%;
        margin: 35px auto;
    }

    .project-txt-container p {
        font-size: 15px;
    }

    #edit-logo-brainiac {
        width: 20%;
    }
    
    #edit-logo-blog {
        width: 20%;
    }

}
/********** Contact **********/
h1 {
    text-align: center;
    padding-bottom: 50px;
}

h2 {
    text-align: center;
    padding-bottom: 50px;
}
h3 {
    display: flex;
    justify-content: center;
}
h3 div {
    padding: 20px 20px;
    width: 100px;
}

div.contact-icons h3 div img{
    width: 50px;
    height: auto;
}

/********* FOOTER *********/

footer {
    flex-shrink: 0;
    width: 100%;
    background-color: rgba(211, 211, 211, 0.308);
    text-align: center;
    padding: 10px;
}

/********** Under dev **********/

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }