html, body {
    height: 100%;
}

body {
    background: linear-gradient(rgba(255, 255, 255, 0.8),rgba(255, 255, 255, 0.8)), url("../html/img/background2.jpg");
    /* background-attachment: fixed; */
    color: rgb(61, 58, 58) !important;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

nav {
    background-color: rgb(168, 129, 231);
    padding: 20px;
    margin: 0px 0px 60px 0px;  /*added this*/
}

nav .container {
    display: flex;
}

nav .container .logo {
    flex: 1;
}

nav .logo img {
    height: 30px;
    margin-top: 10px;
}

nav .links {
    display: flex;
}

nav .links a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

nav .links a:hover {
    text-decoration: underline;
}

nav search {
    flex: 1;
    padding: 10px;
}

nav search input {
    text-align: center;
    border-radius: 10px;
    border: none;
}

nav search input:focus {
    outline: none;
}

main {
    flex-grow: 1;
}

.random-post,
.single-post,
.new-post {
    background-color: white ;
    border: 4px solid rgb(61, 58, 58);
    border-radius: 20px;
    box-shadow: 8px 8px 4px rgb(61, 58, 58);
    display: flex;
    flex-direction: column;
}

.random-post a {
    color: rgb(61, 58, 58);
    text-decoration: none;
}

.random-post a:hover {
    color: rgb(61, 58, 58);
}

.random-post .gif-container,
.single-post .gif-container,
.new-post .gif-container{
    padding: 20px;
    flex: 0 0 100%;
}

.random-post img {
    width: 100%;
    max-height: 350px;
}

.random-post .post-text,
.single-post .post-text,
.new-post .post-text {
    padding: 20px;
}

.random-post .post-meta,
.single-post .post-meta,
#allPosts .post-meta {
    padding: 20px 0;
}

.random-post .post-comments,
.single-post .post-comments {
    float: right;
}

.random-post .post-meta div,
.single-post .post-meta div {
    display: inline-block;
}

.random-post {
    margin-bottom: 100px;
}

#allPosts {
    margin-left: 110px;
    margin-right: 110px;
}

.card-deck {
    display: flex; 
}

.card {
    background-color: white;
    border: 4px solid rgb(61, 58, 58) !important;
    border-radius: 20px !important;
    box-shadow: 8px 8px 4px rgb(61 58 58) !important;
}

.card-body .card-text {
    position: relative;
}

#allPosts .post-meta {
    position: absolute;
    bottom: 0;
    left: 20px;
    right: 20px;
    display: flex;
    align-items: center;
}

#allPosts .post-comments {
    display: flex;
    flex: auto;
    justify-content: flex-end;
    align-items: center;
}

#allPosts .post-comments i,
#allPosts .post-comments span {
    padding: 0 2px;
}

#allPosts .card-img-top {
    height: 60%;
    padding: 20px;
}

#allPosts .card-img-top img {
    object-fit: contain;
}

.post-comment-container,
#allPosts {
    margin-bottom: 60px;
}
/******* SINGLE POST PAGE ********/

.single-post img {
    width: 70%;
}

.single-post .gif-container {
    max-height: 350px;
}

.comments-table {
    border: 4px solid rgb(61, 58, 58);
    background-color: rgba(255,255,255,0.7);
    border-radius: 20px;
    box-shadow: 8px 8px 4px rgb(61 58 58);

    display: block;
    empty-cells: show;
}

.comments-table table {
    width: 100%;
}

.comments-table thead {
    border-bottom: 1px solid;
    position:relative;
    display: block;
    width:100%;
    overflow-y: scroll;
}

.comments-table tbody {
    display: block; 
    position:relative;
    width:100%; 
    overflow-y:scroll;
    max-height: 450px;
}

.comments-table tr {
    width: 100%;
    display:flex;
}

.comments-table input {
    width: 100%;
    border: none;
    background: transparent;
}

.comments-table input:focus {
    outline: none;
}

.comments-table td,
.comments-table th {
    flex-basis:100%;
    flex-grow:2;
    display: block;
    text-align:left;
}

.comments-table tbody td {
    padding: 20px;
    border-bottom: 1px solid lightgrey;
}

.comments-table button {
    color: white;
    background-color: rgb(61, 58, 58);
    border-radius: 10px;
    border-width: 0px;
    padding: 5px 10px;
}

.comments-table th:last-child,
.comments-table td:last-child {
    text-align: right;
    flex-basis: 30%;
    flex-grow: 1;
}

.comments-table i {
    cursor: pointer;
    padding: 5px;
}

.comments-table i:hover {
    background-color: cornflowerblue;
    border-radius: 5px;
}

/********* FOOTER *********/

footer {
    flex-shrink: 0;
    width: 100%;
    background-color: rgba(211, 211, 211, 0.308);
    text-align: center;
    padding: 10px;
}

/********** NEW POST PAGE **********/
.new-post {
    margin-bottom: 100px;
}

#gif-select img{
    width: auto;
    height: 10vh;
}
#new-gif-container {
    min-height:20vh;
    position: relative;
}
#new-gif-container img{
    width: 100%;
}

.gif.form-control {
    position: relative;
    border-radius: 15px;
}

.gif.form-control p {
    position: absolute;
    top: 40%;
    right: 32%;    
    color: rgb(133, 133, 133);
    font-family: "Helvetica Neue";
    cursor: pointer;
}

.gif.form-control:hover {
    cursor: pointer;
}

[type='radio']:checked+label img{
    border: 6px solid rgb(235, 200, 7);    
}
.hidden{
    visibility: hidden;
}

#errormesage{
    color: lightcoral;
}

@media only screen and (max-width: 1150px) {
    #allPosts {
        margin-left: 60px;
        margin-right: 60px;
    }
}

@media only screen and (max-width: 990px) {
    .random-post-box {
        justify-content: center;
    }
}